{name, "yaws"}.
{authors, ["Claes Wikstrom <klacke@hyber.org>"]}.
{description, "Yaws webserver"}.
{homepage, "http://yaws.hyber.org"}.
{build_command, "autoconf && ./configure && make"}.
{license, "BSD", "LICENSE"}.
{url, {git, "https://github.com/klacke/yaws.git", {tag, "yaws-1.82"}}}.
{applications, [yaws]}.
